.comptes-container {
    width: 80%;
    margin: 0 auto;
}

.comptes-container h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
}

.compte {
    margin-top: 15px;
    display: flex;
    height: 100px;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0px 12px 5px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 12px 5px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 12px 5px -10px rgba(0, 0, 0, 0.75);
}

.compte:hover {
    border-left: 2px solid black;
    background-color: darkgrey;
}

.compte label {
    flex: 1;
    text-align: center;
}

.compte div {
    flex: 1;
    text-align: center;
}

.comptes-infos {
    display: flex;
    background-color: grey;
    margin-top: 5px;
    color: white;
    font-weight: bold;
}

.comptes-infos label {
    text-align: center;
    flex: 1;
}

.courriel {
    font-size: .8rem;
}

.penaliser {
    background-color: red;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    font-size: .7rem;
}

.penaliser:hover {
    background-color: orange;
    color: white;
}

.change-page-comptes {
    width: 60%;
    margin: 0 auto;
    display: flex;
    height: 65px;
}

.change-page-comptes button {
    flex: 1;
    margin: 10px;
    font-size: .8rem;
    border-radius: 10px;
    font-weight: bold;
    background-color: slategray;
}

.change-page-comptes button:hover {
    background-color: lightskyblue;
    color: white;
}

.menu-container {
    background-color: grey;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: white;
    text-align: center;
}

.menu-container label {
    flex: 1;
}

.penalite {
    display: flex;
    margin-top: 10px;
    -webkit-box-shadow: 0px 12px 5px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 12px 5px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 12px 5px -10px rgba(0, 0, 0, 0.75);
}

.penalite:hover {
    border-left: 2px solid black;
    background-color: darkgrey;
}

.penalite label {
    flex: 1;
    margin-top: 10px;
    text-align: center;
}

.enlever {
    background-color: red;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    font-size: .6rem;
}

.enlever:hover {
    background-color: orange;
    color: white;
}

.changer-privilege {
    display: flex;
    flex-direction: column;
}

.changer-privilege label {
    flex: 1;
}

.changer-privilege select {
    flex: 1;
    width: 70%;
    margin: 0 auto;
    height: 50%;
}

.modif-privilege {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.modifier {
    background-color: green;
    font-weight: bold;
}

.modifier:hover {
    background-color: rgb(88, 209, 94);
    color: white;
}