.delete-container {
    /* background-color: aqua;*/
    border: black solid 1px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.6);
    width: 40%;
    margin: 0 auto;
}

.delete-container h5 {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    font-size: 1.1rem;
}

.delete-container div {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.question {
    display: flex;
    flex-direction: column;
}

.control {
    display: flex;
    align-content: space-between;
}

.control button {
    width: 40%;
    height: 40px;
    margin: 0 auto;
    font-size: .8rem;
}

.returne {
    background-color: red;
}

.returne:hover {
    background-color: orange;
}

.spr_compte {
    background-color: red;
}

.spr_compte:hover {
    background-color: orange;
}

.btn-modif {
    background-color: #00AF33;
    width: 20%;
    margin: 2px;
}

.btn-modif:hover {
    background-color: rgb(88, 209, 94);
}

.lbl-info {
    font-weight: bold;
}