.detail-component {
    display: flex;
    width: 60%;
    height: 400px;
    border: black solid 1px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.6);
    margin: 0 auto;
}

.img-container {
    width: 50%;
    margin: 10px;
}

.img-container label {
    background-color: grey;
    width: 100%;
    height: 20%;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    padding: 10px;
}

.img-container img {
    width: 100%;
    height: 60%;
}

.description {
    width: 50%;
    height: 85%;
    margin: 10px;
}

.description h5 {
    background-color: grey;
    height: 20%;
    text-align: center;
    color: white;
    padding: 5px;
}

.description p {
    height: 40%;
}

.detail-produit h2 {
    font-size: 1.6rem;
    width: 20%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.radio-container {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.description-interne {
    height: 200px;
    border: 1px solid grey;
    margin-bottom: 20px;
}

.btn-ajouter {
    display: flex;
    /*font-size: .6rem;*/
    height: 30px;
}

.btn-ajouter label {
    flex: 2;
    height: 40px;
}

.btn-ajouter button {
    flex: 1;
    background-color: #00AF33;
    border: 1px solid black;
    height: 50px;
}

.btn-ajouter button:hover {
    background-color: rgb(88, 209, 94);
}

.ajouter-image {
    margin-left: 20px;
    height: 25px;
    width: 80%;
    background-color: #00AF33;
    border: 1px solid black
}

.ajouter-image:hover {
    background-color: rgb(88, 209, 94);
}